<!DOCTYPE html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">许亮.中国</a>
    <a class="extra" href="/">home</a>
	<br/>
	<p>Across the Great Wall, we can reach every corner in the world.</p>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a href="/">许亮.中国</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:xuliang.dec@gmail.com">xuliang.dec@gmail.com</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
